@model CategoryPostDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Create Category</h1>
                  <div class="text text-danger" asp-validation-summary="ModelOnly"></div>
                <form class="forms-sample" method="post" action="Create" >
                    <div class="form-group">
                        <label  asp-for="@Model.Name">Name</label>
                        <input  type="text" class="form-control"  asp-for="@Model.Name"  placeholder="Category Name">
                         <span class="mt-2 text text-danger" asp-validation-for="@Model.Name"></span>
                
                        
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Create</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>


          <!-- Vertically centered modal-->
          <div class="modal fade" id="modalCentered" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Modal title</h4>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="fs-sm">Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary btn-shadow btn-sm" type="button">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalCentered">
  Vertically centered modal
</button>